body{
    display: flex;
    justify-content: center;
}


/* ---------------------- */


.start-display{
    width: 600px;
    height: 500px;
    border-radius: 5px;
    text-align: center;

    background-color: bisque; 
}


.start-quiz-btn{
    position: relative;
    top: 125px;
    display: inline;
    font-weight: bold;
    background-color: brown;
    border-radius: 3px;
}

.start-quiz-btn:hover{
    cursor: pointer;
}


/* ---------------------- */


.question-display{
    display: none;
    width: 600px;
    height: 500px;
    border-radius: 5px;

    background-color: bisque;
}

.question-display div{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;

    
    margin-left: 25px;
    margin-right: 25px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.timer{
    white-space: nowrap;
}

.answers{
    display: inline-flex;
    flex-direction: column;
    
    padding-left: 25px;
    list-style: upper-alpha;
}

.answers li{
    font-weight: bold;
    background-color: brown;
    list-style-position: inside;
    margin-bottom: 10px;
    border-radius: 3px;
}

.answers li:hover{
    cursor: pointer;
}

.question-display p{
    border-top-style: solid;
    border-top-width: 1px;
}

#incorrect-message{
    display: none;
}

#correct-message{
    display: none;
}


/* ---------------------- */


.end-display{
    display: none;
    flex-direction: column;
    width: 600px;
    height: 500px;
    border-radius: 5px;

    background-color: bisque;
}

.end-display h1{
    margin-top: 100px;
    margin-bottom: 50px;
}

.end-display * {
    margin-left: 100px;
}

#highscore-input * {
    display: inline;
    margin: 0px;
}


/* ---------------------- */


.highscores-display{
    display: none;
    flex-direction: column;
    width: 600px;
    height: 500px;
    border-radius: 5px;

    background-color: bisque;
}