body{
    display: flex;
    justify-content: center;
}

.q-box{
    width: 600px;
    height: 500px;
    border-radius: 5px;

    background-color: bisque;
}

.q-box h1{
    margin: 25px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.answers{
    display: inline-flex;
    flex-direction: column;
    
    padding-left: 25px;
    list-style: upper-alpha;
}

.answers li{
    font-weight: bold;
    background-color: brown;
    list-style-position: inside;
    margin-bottom: 10px;
    border-radius: 3px;
}